<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HC Lights Control</title>
  <style type="text/css">
    body {
      background-image: url("/snowman-bg.png");
      color: #FFF;
      width: 650px;
      margin: 0 auto;
    }

    h1, h2 {
      font-family: sans-serif;
    }

    p {
      font-size: 1.5em;
    }

    hr {
      display: block;
      width: 650px;
      height: 38px;
      background: url("/xmas-lights.gif") no-repeat top left;
      border: 0;
    }

    input {
      -webkit-appearance: none;
      background: #CCC;
      border: 2px solid black;
      font-family: sans-serif;
    }

    .primary-buttons input {
      border-radius: 3px;
      width: 5em;
      height: 5em;
      margin-right: 2em;
      font-size: 1.5em;
    }

    .primary-buttons input:active {
      background: #AAA;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      padding: 1em;
      height: 7em;
      background: rgba(35, 35, 35, 0.2);
      margin-bottom: 1em;
    }

    div.program-description {
      max-width: 60%;
      flex-grow: 1;
    }

    div.program-button {
      width: 40%;
      flex-grow: 0;
    }

    .program-buttons input {
      font-size: 1.2em;
      height: 100%;
      width: 100%;
      padding: 1.5em 0;
    }
  </style>
</head>
<body>
  <h1>LIGHTS CONTROL</h1>
  <% if message %>
  <div class="messages">
  <h2><%= message %></h2>
  </div>
  <% end %>
  <hr class="lights">
  <form action="/lights" method="post" accept-charset="utf-8">
    <div class="primary-buttons">
      <input type="submit" name="action" value="ON">
      <input type="submit" name="action" value="SYNC">
      <input type="submit" name="action" value="OFF">
    </div>

    <div class="program-buttons">
      <ul>
        <li>
          <div class="program-description">
            <h1>Combination</h1>
            <p>Cycle through programs</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#1">
          </div>
        </li>

        <li>
          <div class="program-description">
            <h1>Steady On</h1>
            <p>Lights are continuously on</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#2">
          </div>
        </li>

        <li>
          <div class="program-description">
            <h1>Slow Blink</h1>
            <p>Lights are on 1/2 second, then off 1/2 second</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#3">
          </div>
        </li>
        <li>
          <div class="program-description">
            <h1>Fast Blink</h1>
            <p>Lights blink on/off much faster</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#4">
          </div>
        </li>
        <li>
          <div class="program-description">
            <h1>Slow Fade</h1>
            <p>Lights fade from off to on at a slow rate</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#5">
          </div>
        </li>
        <li>
          <div class="program-description">
            <h1>Fast Fade</h1>
            <p>Lights fade from off to on at a fast rate</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#6">
          </div>
        </li>
        <li>
          <div class="program-description">
            <h1>Blink Steady</h1>
            <p>Lights blink twice, then are steady for a second or two</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#7">
          </div>
        </li>
        <li>
          <div class="program-description">
            <h1>Step Fade</h1>
            <p>Lights fade from off to on but at discrete brightness steps instead of a continuous increase/decrease</p>
          </div>
          <div class="program-button">
            <input type="submit" name="action" value="PROGRAM#8">
          </div>
        </li>
      </ul>
    </div>
  </form>
</body>
</html>
